<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo_pre_cadastro_empresa.css">
    <title>Pré-Cadastro de Restaurante</title>
  
</head>
<body>
    <div class="container">
        <h1>Quer Falar Conosco?</h1>
        <p>Estamos aqui para ajudar você a gerenciar seu vale-refeição de forma eficiente e prática. Preencha o formulário abaixo e entre em contato conosco!</p>
        
        <div class="form-container">
            <div class="info-text">
                <h2>Entre em Contato</h2>
                <p>Informe abaixo seu email, CNPJ e telefones para contato. Nossa equipe entrará em contato o mais breve possível!</p>
            </div>
            <form id="preCadastroForm">
                <input type="text" id="email" placeholder="Seu Email" required>
                <input type="text" id="cnpj" placeholder="CNPJ" required>
                <input type="text" id="telefone" placeholder="Telefone" required>
                <button type="submit">Enviar</button>
            </form>
        </div>
        
        <div id="message"></div>

        <div class="faq-container">
            <h2>Perguntas Frequentes</h2>
            <div class="faq-item">
                <h3>Quais as vantagens de usar o FoodPass?</h3>
                <p>O FoodPass oferece uma gestão simplificada do vale-refeição, com acesso a uma ampla rede de restaurantes parceiros e benefícios exclusivos para os usuários.</p>
            </div>
            <div class="faq-item">
                <h3>Quantos restaurantes parceiros o FoodPass tem?</h3>
                <p>Atualmente, o FoodPass conta com mais de 1.000 restaurantes parceiros em diversas cidades, garantindo opções variadas para todos os gostos.</p>
            </div>
            <div class="faq-item">
                <h3>FoodPass é confiável?</h3>
                <p>Sim! O FoodPass é uma plataforma segura e confiável, com um compromisso firme com a satisfação dos nossos clientes e parceiros.</p>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>